<%= render 'shared/title', title: "Sign up" %>

<div>
  <%= form_for @user do |f| %>
    <%= render 'shared/form_errors', object: @user %>
    
    <p>username:</p>
    <p><%= f.text_field :username %></p>

    <p>password:</p>
    <p><%= f.password_field :password %></p>

    <%= f.submit "Sign up" %>
  <% end %>
</div>