<%= render 'shared/title', title: "All Posts" %>

<%= link_to "new post", new_post_path %>


<%= link_to "All Categories", categories_path %>

<div>
  <% @posts.each do |post| %>
    <div>
      <h3><%= post.title %></h3>
      <p><%= post.content %></p>

      <%= link_to "show post", post_path(post) %>
      
    </div>
  <% end %>
</div>