<%= render 'shared/title', title: "New Post" %>

<div>
  <%= form_tag @post do |f| %>
    <p>Title</p>
    <p><%= text_field_tag :title, params[:title] %></p>

    <p>Content</p>
    <p><%= text_area_tag :content, params[:content] %></p>

    <p>Category</p>
    <p><%= text_field_tag :categories, params[:categories] %></p>

    <p><%= submit_tag "New Post" %></p>
  <% end %>
</div>