<%= render 'shared/title', title: @post.title %>

<div>
  <h3><%= @post.title %></h3>
  <p><%= @post.content %></p>
  <% if !@post.user.nil? %>
   <p> posted by <%= @post.user.username %></p>
  <% end %>

  <% if current_user && current_user.author?(@post.id) %>
    <%= link_to "Edit Post", edit_post_path %>
    <%= link_to "Delete Post", post_path(@post), :method => :delete %>
  <% end %>

</div>

<p><%= link_to "back to all posts", posts_path %></p>

<!-- to display all comments -->
<div>
  <% @post.comments.each do |comment| %>
    <div>
      <%= comment.content %>
      <% if !comment.user.nil? %>
        by <%= comment.user.username %>
      <% end %>

    </div>
  <% end %>
</div>

<!-- the form for creating new comment -->
<div>
  <%= form_for [@post, @comment] do |f| %>
    <p><%= f.text_area :content %></p>

    <p><%= f.submit %></p>
  <% end %>
</div>